# Entorno virtual
venv/
.env

# Archivos Python compilados
__pycache__/
*.py[cod]

# Archivos de logs
*.log

# Configuraciones de IDE/editor
.vscode/
.idea/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
